:root {
  --primary: #032f30;
  --secondary: #0a7075;
}

html {
  height: 100%;
}

body {
  background: url("/images/gradient_2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  font-family: gotham, arial, helvetica, sans-serif;
  font-size: 18px;
  padding: 0;
  margin: 0 auto !important;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 20px;
  padding: 20px;
}

.nav-button {
  list-style: none;
  gap: 10px;
  border-radius: 5px;
  padding: 5px;
}

a {
  color: aliceblue;
  text-decoration: none;
  padding: 5px;
}

a:hover {
  border-bottom: solid white 4px;
}

p {
  text-align: justify;
}

.formacao {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 14px;
}

.items-formacao {
  display: flex;
  justify-content: center;

  align-items: center;
  gap: 32px;
  text-align: justify;
}

.item-formacao {
  list-style: none;
  width: 500px
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  text-align: justify;
  border: solid white 2px;
  border-radius: 5px;
  
}

.contato-card {
  background-color: var(--secondary);

  padding: 20px;

  border: solid white 2px;

  border-radius: 5px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.content {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  width: 700px;
  margin: 0 auto;
}

.home-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}
