/* define a cor primária e secundária */
:root {
  --primary: #032f30;
  --secondary: #0a7075;
}

html {
  height: 100%;
}

/* Define estilo da tag body */
body {
  background: url("/images/gradient_2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  font-family: gotham, arial, helvetica, sans-serif;
  font-size: 18px;
  padding: 0;
  margin: 0 auto !important;
  overflow: hidden;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 20px;
  padding: 20px;
}

.nav-button {
  list-style: none;
  gap: 10px;
  border-radius: 5px;
  padding: 5px;
}

a {
  color: aliceblue;
  text-decoration: none;
  padding: 5px;
}

nav a:hover {
  border-bottom: solid #eab62c 3px;
}

p {
  text-align: justify;
}

.formacao {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 14px;
}

.item-formacao,
.item-idiomas {
  color: var(--primary);
  list-style: none;
  background-color: #eab62c; /* Cor de fundo suave */
  border: 1px solid #ddd; /* Borda leve */
  border-radius: 8px; /* Bordas arredondadas */
  padding: 16px; /* Espaçamento interno */
  margin-bottom: 16px; /* Espaçamento entre itens */
  box-shadow: 2px 5px rgba(0, 0, 0, 0.1); /* Sombra leve */
}

.item-formacao li:first-child {
  font-weight: bold; /* Destaca o primeiro item */
  font-size: 1.2em; /* Aumenta o tamanho da fonte do primeiro item */
}

.item-formacao li:last-child {
  margin-bottom: 0; /* Remove espaçamento do último item */
}

.contato-card {
  background-color: #eab62c;
  color: var(--primary);
  padding: 20px;
  border: solid 2px;
  border-radius: 5px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

form input,
form textarea {
  padding: 5px;
  border: solid 2px;
  border-radius: 5px;
}

.content {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  width: 700px;
  margin: 0 auto;
}

.home-content {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 36px;
  text-align: center;
}

.home-text {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 6px;
  font-size: 36px;
  text-size-adjust: 100%;
  font-family: inconsolata, monospace;
}

.contact-button a {
  background-color: #eab62c;
  padding: 10px;
  border-radius: 5px;
  color: var(--primary);
}

.contact-button a:hover {
  background-color: #f2c94c;
}

.card-projeto a {
  display: flex;
  width: 300px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;
  padding-bottom: 10px;
  gap: 10px;
  background-color: #f2c94c;
  color: var(--primary);
  border: solid #f2c94c 2px;
  border-radius: 5px;
}

.card-projeto img {
  width: 300px;
  height: 200px;
  border-radius: 5px;
  object-fit: cover;
}

.project-list {
  list-style: none;
}

.glitch {
  font-size: 64px;
  animation: glitch 1000ms infinite;
  transform: translate(-0.025em, -0.0125em);
}

/* Animations */

@keyframes glitch {
  0% {
    color: orange;
    text-shadow: -0.05em -0.025em 0 #ec2225, 0.025em -0.025em 0 #313f97,
      -0.05em -0.05em 0 #50c878;
  }

  99% {
    color: yellow;
    text-shadow: 0.025em 0.05em 0 #ec2225, -0.025em 0.05em 0 #313f97,
      0 -0.05em 0 #50c878;
  }
}
